.wrapper {
    width: 100%;
    height: 200px;
    border: 4px solid #b9b9b9;
    padding: 10px;
    background-color: #ffffff;
    

}

.fa-temperature-low {
    color: cornflowerblue;
}

.fa-temperature-high {
    color: rgb(255, 7, 7);
}

.fa-tint {
    color: rgb(219, 219, 219);
}

.fa-cloud-sun {
    color: rgb(130, 130, 255);
}

.fa-wind {
    color: midnightblue;
}

.cities>li {
    cursor: pointer;
}

.wrapper-city {
    background-color: rgb(235, 235, 235);
    max-width: 200px;
    padding-top: 5px;
 
}

 .container {
    flex-wrap: wrap;
    
}